@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sriracha&display=swap');

*{
    font-family: 'Itim', cursive;
    /* font-family: 'Sriracha', cursive; */
}







/* h1{
    color: rgb(255, 0, 8);    
}
div.thai{
    color: blue;
}
.usa{
    font-size: x-large;
    font-style: italic;

} */